@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Heebo-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Heebo-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Heebo-Bold.ttf') format('truetype');
  }